*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html,
#st-container {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: #414141;
}

.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#st-container {
	position: relative;
	overflow: hidden;
	background: gray;
}

/*--------------- Menu -----------------*/

#left-menu {
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	z-index: 100;
	width: 300px;
	color: white;
	background: rgb(65, 87, 121);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#left-menu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu-open #left-menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

#left-menu li {
	text-align: center;
	color: rgb(251, 253, 255);
	text-shadow: 1px 1px rgba(0, 0, 0, 0.38);
	border-bottom: 1px solid rgb(44, 62, 82);
	padding: 15px 0;
}

#left-menu li.sub-title {
	border-bottom: 0;
	padding-bottom: 0;
}

#left-menu li.title {
	font-size: 35px;
	padding: 27px 0;
}

#city-list {
	border: 1px solid white;
	font-size: 16px;
	cursor: pointer;
	color: rgb(38, 48, 61);
	background: rgb(243, 250, 255);
	border-radius: 5px;
	padding: 5px 10px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.61);
	outline: none;
}

/*-------------- Content ----------------*/

#main-content {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	background: rgb(230, 230, 230);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

#main-content::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open #main-content::after {
	width: 100%;
	height: 100%
}


/*------------- Animation ---------------*/

#st-container.anim-scale-down {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.anim-scale-down #main-content {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.anim-scale-down.st-menu-open #main-content {
	-webkit-transform: translate3d(0, 0, -300px);
	transform: translate3d(0, 0, -300px);
}

#left-menu.anim-scale-down {
	opacity: 1;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.anim-scale-down.st-menu-open #left-menu.anim-scale-down {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

#left-menu.anim-scale-down::after {
	display: none;
}