*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html,
#st-container {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: #414141;
}

.row:after {
	content: " ";
	display: table;
	clear: both;
}

.col-1-4 {
	float: left;
	width: 25%;
}

.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#st-container {
	position: relative;
	overflow: hidden;
	background: gray;
}

/*--------------- Icons -----------------*/

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?i64fx9');
	src:url('../fonts/icomoon/icomoon.eot?#iefixi64fx9') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?i64fx9') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?i64fx9') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?i64fx9#icomoon') format('svg');
}

.icon:before {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close {
	z-index: 100;
	display: block;
	overflow: hidden;
	width: 2em;
	height: 2em;
	text-align: center;
	line-height: 3;
	cursor: pointer;
}

.icon-close::before {
	content: "\e601";
}

.icon-close {
	position: absolute;
	top: 0;
	right: 10px;
}

/*--------------- Menu -----------------*/

#left-menu {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	z-index: 100;
	width: 300px;
	color: white;
	background: rgb(65, 87, 121);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#left-menu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

#menuBtn {
	position: absolute;
	color: rgba(255, 255, 255, 0.87);
	text-shadow: 1px 1px rgba(0, 0, 0, 0.35);
	font-size: 18px;
	top: 4px;
	right: -27px;
	background: rgb(65, 87, 121);
	border: 1px solid rgb(50, 82, 112);
	border-left: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 8px 6px 8px 7px;
	cursor: pointer;
}

.st-menu-open #left-menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

#left-menu li {
	text-align: center;
	color: rgb(251, 253, 255);
	text-shadow: 1px 1px rgba(0, 0, 0, 0.38);
	border-bottom: 1px solid rgb(44, 62, 82);
	padding: 15px 0;
}

#left-menu li .wrapper {}

#left-menu li.sub-title {
	border-bottom: 0;
	padding-bottom: 0;
}

#left-menu li.title {
	font-size: 35px;
	padding: 27px 0;
}

#city-list {
	border: 1px solid white;
	font-size: 16px;
	cursor: pointer;
	color: rgb(38, 48, 61);
	background: rgb(243, 250, 255);
	border-radius: 5px;
	padding: 5px 10px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.61);
	outline: none;
}

#get-weather-btn {
	border-radius: 5px;
	padding: 8px 15px;
	margin: 20px 0 10px 0;
	cursor: pointer;
	background: rgb(34, 86, 155);
	border: 1px solid rgba(32, 37, 48, 0.71);
	text-shadow: 1px 1px rgba(0, 0, 0, 0.69);
	color: white;
	box-shadow: 0px 0px 5px rgba(173, 173, 173, 0.32);
}

/*-------------- Content ----------------*/

#main-content {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	overflow-y: auto;
	background: rgb(230, 230, 230);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

#main-content::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open #main-content::after {
	width: 100%;
	height: 100%
}

#main-content h1 {
	margin: 0;
	padding: 20px 0;
	text-align: center;
	font-weight: 300;
	font-size: 30px;
}

#loading {
	text-align: center;
}

#main-content .container {
	width: 80%;
	margin: 0 auto;
	max-width: 680px;
	padding-top: 5px;
}

#main-content .container .item {
	padding: 2%;
}

#main-content .container .item .thumbnail {
	position: relative;
	text-align: center;
	width: 100%;
	height: auto;
	z-index: 50;
	background: #5D5D5D;
	border-radius: 5px;
	padding: 35% 0;
	cursor: pointer;
}
#main-content .container .item .thumbnail:hover { box-shadow: 0 0 15px rgb(178, 222, 247); }

.item .description {
	color: rgba(255, 255, 255, 0.46);
	font-size: 12px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.47);
}

#main-content .container .item .thumbnail .date {
	position: absolute;
	left: 7px;
	top: 6px;
	color: rgba(255, 255, 255, 0.91);
	font-size: 16px;
}

#main-content .container .item .thumbnail .icon {
	min-height: 50px;
}

#main-content .container .item .thumbnail .temperature {
	position: absolute;
	bottom : 6px;
	right: 15px;
	color: rgba(255, 255, 255, 0.91);
	font-size: 16px;
}
#main-content .container .item .thumbnail .temperature .low { opacity: 0.7; }


/*-------------------------------------------------*/
/*--------------- Menu Animation ------------------*/
/*-------------------------------------------------*/

#st-container.anim-scale-down {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.anim-scale-down #main-content {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.anim-scale-down.st-menu-open #main-content {
	-webkit-transform: translate3d(0, 0, -300px);
	transform: translate3d(0, 0, -300px);
}

#left-menu.anim-scale-down {
	opacity: 1;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.anim-scale-down.st-menu-open #left-menu.anim-scale-down {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

#left-menu.anim-scale-down::after {
	display: none;
}


/*-------------------------------------------------*/
/*--------------- Weather Animation ---------------*/
/*-------------------------------------------------*/

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.ng-leave {
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
}

.item.animated.ng-enter {
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}


/*---------------------------------------------------------*/
/*------------------ Pop Up Animation ---------------------*/
/*---------------------------------------------------------*/

#main-content .container .item.pop-up-open {
	position: initial;
}

#day-pop-up {
	visibility: hidden;
	position: absolute;
	z-index: 49;
	margin: 0;
	display: none;
	color: white;
	font-size: 14px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.46);
	padding: 10px;
	background: none;
	border-radius: 5px;
	-webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
	transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

#day-pop-up .content-wrap {
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

#day-pop-up-bg::before {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: rgba(226, 226, 226, 0.7);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	pointer-events: none;
}

#day-pop-up.pop-up-open {
	visibility: visible;
	z-index: 100;
	background: #5D5D5D;
	top: 50% !important;
	left: 50% !important;
	width: 350px !important;
	height: 200px !important;
	margin: -100px 0 0 -175px;
	-webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
	transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

#day-pop-up-bg.pop-up-open::before {
	opacity: 1;
}

#day-pop-up .icon-close {
	color: rgb(65, 65, 65);
}

#day-pop-up .icon-close:hover {
	color: #fff;
}

#day-pop-up .date {
	margin-bottom: 10px;
	font-size: 18px;
}

#day-pop-up .day-forecast .temp {
	float: left;
	width: 25%;
	text-align: center;
}

#day-pop-up .day-forecast .temp .title {
	font-weight: 700;
	margin: 10px 0;
}

#day-pop-up .icon,
#day-pop-up .description {
	float: left;
}

#day-pop-up .description {
	line-height: 33px;
	color: rgba(255, 255, 255, 0.66);
}